VUE_APP_SUPABASE_URL=https://rwdajpktqebludtcvhip.supabase.co
VUE_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3ZGFqcGt0cWVibHVkdGN2aGlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTIzODI1NjMsImV4cCI6MjAyNzk1ODU2M30._v5B2j1CORZLbiljRqub5LnWRYHatt6mQkLVQZgBlSs